@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Light.ttf);
	font-weight: 300; }

	body{
		/*background-color: #F44336;*/
        background-image: url('../imgs/snowdrop.jpg');
        background-size: cover;
		font-family: Roboto;
	}
header{
	padding-top: 3vw;
	padding-bottom: 3vw;
}
.textholder{
    color: #fff;
	font-size: 35px;
	padding: 20px;
	display: inline-block;
}
.img{
    margin-top: 20px;
	width: 100px;
	height: 100px;
	border-bottom: 1px solid #F44336;
	border-radius: 50%;
	display: inline-block;
}
.liner{
    border-bottom: 1px solid #8bc34a;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hhder{
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    background-color: #fff;
    color: #8bc34a;
    font-size: 35px;
}
.content{
}
.box-1, .box-2{
	padding: 2vw 2vw 2vw 2vw;
}
.message-grid{
	background-color: #fff;
	padding: 20px;
    margin-bottom: 40px;
}
.m-title, .bottom-line{
  /*  color:#F44336;*/
    color: #8bc34a;
    text-align: center;
}
.message-grid p{
    font-size: 1.6em;
	padding-bottom: 20px;
}
.meer-message{
	background-color: #fff;
	padding: 2vw 2vw;
	font-size: 20px;
}
.blue{
    background-color: #2196f3;
}
.orange{
    background-color:#ff9800; 
}
.meer{
	padding-top: 10vw;
}
.welcome-message h1{
	color: #F44336;
}
.img-wrapper{
    padding: 2vw 2vw;
    margin-left: 1vw;
    margin-right: 1vw
}
.bottom-line{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    background-color: #fff;
}
.social-btn{
    font-size: 2em;
    color: #8bc34a;
}